### Code testing

#### Import

In [1]:
import os
import sys
sys.path.append('..')
import pandas as pd
import pyCoopGame as pyCG

### Create a random 3-player game

In [2]:
game = pyCG.Create_game.create_game(n=3)

The 3-player game has been created
###############

In [3]:
game

   coalition     value
0         []  0.000000
1        [0]  0.000000
2        [1]  0.000000
3        [2]  0.000000
4     [0, 1]  0.119485
5     [0, 2]  0.647525
6     [1, 2]  0.631562
7  [0, 1, 2]  0.728023

#### Validate the game

In [4]:
pyCG.Validate_game.validate(game)

The passed dataframe has the correct columns

The indices have the correct type (int)

The coalitions have the correct type (list)

The values have the correct type (float)

The number of coalitions (8) correctly matches the number of individual players in the game (3)

The value of the empty coalition is 0

The value of the grand coalition is the maximum

#### Check if the core is empty

In [5]:
exists = pyCG.Core.core_exists(game)

{None: 0.7280226665824328}
The set of core allocations is NOT EMPTY

C:\Users\Usuario\Documents\PhD Documents\Python\pyCoopGame\notebooks\..\pyCoopGame\Core.py:109: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  gc = {None: float(game['value'][GRAND_COAL])}

#### Calculate the Shapley, Nucleolus, CostGap, and epsilon-Core

If glpk does not work, it can be installed in-line here via:

!conda install --yes -c conda-forge ipopt glpk

In [6]:
shapley = pyCG.Shapley.Shapley(game)
nucleolus = pyCG.Nucleolus.nucleolus(game)
tau = pyCG.CostGap.tauvalue(game)
epsilon = pyCG.Core.least_core(game)

Shapley value properly calculated

Nucleolus properly calculated

Tau Value properly calculated

{None: 0.7280226665824328}
The core is not empty and epsilon is -0.0191578472759288

C:\Users\Usuario\Documents\PhD Documents\Python\pyCoopGame\notebooks\..\pyCoopGame\Core.py:109: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  gc = {None: float(game['value'][GRAND_COAL])}

In [7]:
data = pd.DataFrame({'Shapley': shapley, 'Nucleolus': nucleolus, 'Cost Gap': tau, 'Least Core': epsilon})

In [8]:
data

    Shapley  Nucleolus  Cost Gap  Least Core
0  0.159989   0.077303  0.077303    0.077303
1  0.152007   0.061340  0.061340    0.061340
2  0.416027   0.589380  0.589380    0.589380